apiVersion: v1
kind: ConfigMap
metadata:
  name: nginxdemo-config
  namespace: default
data:
  NEW_FEATURE: "true"

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginxdemo
  namespace: default
  labels:
    source: demo
    stack: frontend
    app: nginxdemo
spec:
  replicas: 2
  selector:
    matchLabels:
      source: demo
      app: nginxdemo
  template:
    metadata:
      labels:
        source: demo
        app: nginxdemo
    spec:
      containers:
      - name: primary
        image: index.docker.io/neuliuyin/nginxdemo
        ports:
        - containerPort: 8000
        readinessProbe:
          httpGet:
            path: /
            port: 80
        envFrom:
        - configMapRef:
            name: nginxdemo-config

---

kind: Service
apiVersion: v1
metadata:
  name: nginxdemo
  namespace: default
spec:
  selector:
    source: demo
    app: nginxdemo
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8000
